body {
    min-height: 800px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
   
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: #e1a444;
    color: white;
    border: 1px solid #e1a444;
    box-sizing: border-box;
    padding: 25px

}

.kedy {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fbf6ee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kedy img {
    width: 40%;
}
.box2 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: white;
    color: black;
    padding: 25px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    box-sizing: border-box;
    gap: 10px;

}

.box3 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: white;
    color: black;
    padding: 25px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    box-sizing: border-box;
    gap: 10px;
}

.cas {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fbf6ee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cas img {
    width: 40%;
}

.box4 {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: white;
    color: black;
    padding: 25px;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid grey;
    box-sizing: border-box;
    text-align: center;
    padding: 25px;
}

.kde {
    border-radius: 50%;
    background-color: #fbf6ee;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.kde img {
    width: 40%;
}